<br/>
<div *ngIf="!hasData" class="alert alert-danger">
    No Records Found
</div>
  
  <div *ngIf="hasData" class="example-container mat-elevation-z8">
      <div class="d-flex flex-row-reverse p-2 ">
        <button class=" btn btn-info" (click)="exportexcel()">Export to Excel</button>
      </div>

    <mat-table [dataSource]="dataSource"  matSort>
  
        <ng-container matColumnDef="sno">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Sno </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.sno}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="partnername">
            <mat-header-cell *matHeaderCellDef mat-sort-header> Partner Name </mat-header-cell>
            <mat-cell *matCellDef="let row"> {{row.partnername}} </mat-cell>
        </ng-container>
  
     
      <ng-container matColumnDef="compensationplan">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Plan </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.compensationplan}} </mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="compensationmethodology">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Method </mat-header-cell>
        <mat-cell *matCellDef="let row"> {{row.compensationmethodology}} </mat-cell>
      </ng-container>
  
     
      <ng-container matColumnDef="fromdate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> From Date </mat-header-cell>
        <mat-cell *matCellDef="let row" > {{row.fromdate}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="todate">
        <mat-header-cell *matHeaderCellDef mat-sort-header> To Date </mat-header-cell>
        <mat-cell *matCellDef="let row" > {{row.todate}} </mat-cell>
      </ng-container>
  
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;">
      </mat-row>
    </mat-table>
  
    <mat-paginator  [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
  
  