
<div *ngIf="!hasdata" class="alert alert-danger" >
    No Records Found
</div>

<div *ngIf="hasdata" class="table-responsive">
   
    <h2>Your Records are Here....</h2>
    <div class="d-flex flex-row-reverse p-2 "> 
        <select (change)="onTableSizeChange($event)">
            <option *ngFor="let size of tablesizes" [ngValue]="size">{{size}}</option>
          </select>&nbsp;&nbsp;
        <button class="btn btn-info" (click)="exportexcel()">export to excel</button>
        
    </div>
    
  <table id="excel-table" class="table table-bordered table-sm">
  <thead>
    <tr>
      <th>S. No</th>
      <th>Partner Name</th>
      <th>Compensation Plan</th>
      <th>Methodology</th>
      <th>From Date</th>
      <th>To Date</th>
      
    </tr>
  </thead>
  <tbody *ngFor="let plan of plans | paginate: { itemsPerPage: tablesize, currentPage:currentpage };, let i = index">
    <tr>
      <td [attr.rowspan]="plan.methods.length+1">{{i+1}}</td>
     <td [attr.rowspan]="plan.methods.length+1">
       {{plan.partnername}}
     </td>
     <td [attr.rowspan]="plan.methods.length+1">
      {{plan.compensationplan}}
    </td>
    <td [attr.rowspan]="plan.methods.length+1">
      {{plan.compensationmethodology}}
    </td>
    <td [attr.rowspan]="plan.methods.length+1">
      {{plan.fromdate}}
    </td>
    <td [attr.rowspan]="plan.methods.length+1">
      {{plan.todate}}
    </td>
   
    </tr>
    
    
</tbody>
</table>
<div class="padding15 d-flex align-items-center justify-content-center">
    <pagination-controls  (pageChange)="pagechange($event)"></pagination-controls> 
</div>

</div>

