th{
    padding:8px;
    background-color: #61b1e2;
    color:white;
}
mat-cell{
    vertical-align: middle;
}
.padding15{
    padding:15px;
}
mat-header-cell{
    padding:8px;
    background-color: #61b1e2;
    color:white;
}
