<div id="app">
  <div class="toolbar">
    <img width="50" alt="Logo" src="assets/logo.png"/> 
    <h2>Compensation Partner System</h2>
    <div class="spacer"></div>
    <div *ngIf="!isLoggedIn">
      <button class="btn btn-light" routerLink="register">Register</button>
      <button class="btn btn-light" routerLink="login">Login</button>
    </div>
    <div *ngIf="isLoggedIn">
      <button class="btn btn-light" routerLink="login">MyHome</button>
      <button class="btn btn-light" (click)="logout()">Sign Out</button>
      <img style="width:40px;" routerLink="profile" class="rounded-pill" alt="avatar " src="assets/avt.png">
    </div>
    
  </div> 
  <br/>
  
</div> 
<div class="container">
  <router-outlet></router-outlet>
</div>

